<div class="ui sidebar inverted vertical menu visible">
  <a class="item">
    <a class="ui logo icon image">
      <!--<img src="../assets/images/logo3.png">-->
    </a>
  </a>
  <div class="item">
    <div class="header icon"><i class="user icon"></i> JustTest</div>
  </div>
  <a class="item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    Test
  </a>
  <a class="item" routerLink="/about" routerLinkActive="active">
    About
  </a>
</div>
<div class="pusher">
  <div class="main fluid ui container">
    <router-outlet></router-outlet>
  <!-- Site content !-->
  </div>
</div>
